@model IEnumerable<RoundpayFinTech.AppCode.Model.Exchange.BuyerCommission>
@if (Model.Any())
{
    <table class="table table-sm table-borderless table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>OID</th>
                <th>Circle</th>
                <th>Index</th>
                <th>Min</th>
                <th>Max</th>
                <th>Denomination</th>

                <th>Amount Type</th>
                <th>With Gst</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>

            @{ int count = 0;
                foreach (var item in Model)
                {
                    count++;
                        <tr>
                            <td>@count</td>
                            <td>
                                <div class="btn-group dropup">
                                    <a href="#" id="act_@count" class="btn btn-outline-dark btn-sm btn-block dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expaned="false"></a>
                                    <div class="dropdown-menu" aria-labelledby="act">
                                        <h6 class="dropdown-header">Action Menu</h6>
                                        <a href="#" onclick="UpdateBuyerCom(@item.Id)" class="dropdown-item">Edit</a>

                                    </div>
                                </div>



                            </td>
                            <td>
                                @item.OpretorName
                            </td>
                            <td>
                                @item.CircleName
                            </td>
                            <td>
                                @item.Ind
                            </td>
                            <td>
                                @item.Min
                            </td>
                            <td>
                                @item.Max
                            </td>
                            <td>
                                @item.Denomination
                            </td>
                            <td>
                                @item.AmtType
                            </td>
                            <td>
                                @item.WithGST
                            </td>
                            <td>
                                @item.IsActive
                            </td>
                        </tr>
                }
            }
        </tbody>
    </table>
}

@*<script>
    function UtrStatementReconcile(Fid) {
        debugger


        preloader.load()
        $.ajax({
            type: 'POST',
            url: `/UtrStatementReconcile/${Fid}`,

            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                resultReload(result);
                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                an.content = result.msg;
                an.alert(result.statuscode);
            },
            error: function (xhr, result) {
                an.title = "Oops! Error";
                an.content = xhr.status === 404 ? "Requested path not find" : (xhr.status === 0 ? "Internet is not connected" : "Server error");
                an.alert(an.type.failed);

            },
            complete: () => preloader.remove()
        });
        preloader.remove()
    }


     function UtrStatementRemove(Fid) {
        debugger
        preloader.load()
        $.ajax({
            type: 'POST',
            url: `/UtrStatementDelete/${Fid}`,

            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                resultReload(result);
                an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                an.content = result.msg;
                an.alert(result.statuscode);
                mdlA.dispose();
                loadPartial1()
            },
            error: function (xhr, result) {
                an.title = "Oops! Error";
                an.content = xhr.status === 404 ? "Requested path not find" : (xhr.status === 0 ? "Internet is not connected" : "Server error");
                an.alert(an.type.failed);

            },
            complete: () => preloader.remove()
        });
        preloader.remove()
    }

</script>*@

<script>
    function UpdateBuyerCom(Id)
    {
        $.get(`/_BuyerCommissionInsert/${Id}`)
            .done(function (result) {
                mdlA.title = "Buyer Commission Update."
                mdlA.content = result;
                mdlA.id = '1mymodal';
                mdlA.options.backdrop = 'static';
                mdlA.modal(mdlA.size.default);
            })
            .catch(function (xhr, e, msg) {
                an.title = 'Oops';
                an.content = 'An error has been occured during request.Reload again!'
                an.alert(an.type.failed);
            })
            .fail(function (xhr) {
                if (xhr.status == 500) {
                    an.title = 'Oops';
                    an.content = 'Server error';
                    an.alert(an.type.failed);
                }
                if (xhr.status == 0) {
                    an.title = 'Oops';
                    an.content = 'Internet Connection was broken';
                    an.alert(an.type.failed);
                }
            })
            .always(function () {
                preloader.remove();
            });





    }


</script>